$fontStack: 'Trebuchet MS', 'Lucida Sans Unicode', 'Calibri', 'Trebuchet MS', sans-serif;

$borderColor: rgb(201, 214, 226);

$backgroundColor: #064a74;

$buttonBorderColor: #f4f4f4;

$maroon: #450609;

$cardColor: #e6dcdd7e;

$textColor: #333;

$h2New: #999;


// OTHER COLORS
// bright red: #ff0019
// 