/* MAP OUTLINE */
.map-box {
    border-top: 1px solid #999;
    text-align: center;
    position: relative;
    
    /* CANT BE % */
    /* margin-left: 8rem;
    margin-right: 8rem; */
    /* margin-top: 32%;
    margin-bottom: 32%; */
    /* top: 0%;   */
  }